
<div class="input-group col-3">
  <button class="btn btn-success"
          (click)="openAddServiceDialog(content)">
    Add
  </button>&nbsp;
  <button class="btn btn-primary"
          (click)="openUpdateService()"
          [disabled]="!selectedRow">
    Update
  </button>&nbsp;
  <button class="btn btn-danger"
          (click)="deleteService(selectedService)"
          [disabled]="!selectedService">
    Delete
  </button>
</div>
<br>
<div class="table-responsive-md">
    <table class="table table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Url</th>
        <th>Created</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of dataSource; let i=index;" (click)="onSelect(service)" >
        <td>
          <input type="checkbox" [checked]="service == selectedService">&nbsp;{{service.name}}
        </td>
        <td>{{service.hostname}}</td>
        <td>{{service.port}}</td>
        <td>{{service.url}}</td>
        <td>{{service.created}}</td>
        <td>{{service.status}}</td>

      </tr>

      </tbody>
    </table>

  </div>
